<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mx-auto bg mt-5 rounded-3 p-4">
            <p class="fs-2 text-center">Sign In</p>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="mt-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email">
                    <!-- <span *ngIf="email?.errors?.['required']" class="text-danger ms-2">Email Required</span> -->
                </div>
                <div class="mt-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" formControlName="password">
                </div>

                <a class="text-end" (click)="passwordReset()">Forget Password?</a>

                <div class="mt-3 d-grid text-center ">
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </div>

                <div class="mt-4 d-grid text-center ">
                    <a class="text-decoration-none border p-2 rounded-5 bg-light cur text-dark" (click)="signinwithGoogle()">
                        <img src="https://cdn-icons-png.flaticon.com/256/720/720255.png" alt="" width="28px"> Sign In
                        with Google
                    </a>
                </div>

            </form>
            <div class=" text-center mt-4">
                <span>Don't have an account? <a routerLink="/signup">Sign Up! </a></span>
            </div>
        </div>
    </div>
</div>