<div class="container-fluid carousel slide" data-bs-ride="carousel" id="carousel">
   <div class="carousel-inner ">
    <div class="carousel-item active" >
        <div class="">
            <img src="https://media.istockphoto.com/id/513078163/photo/womens-clothes.jpg?s=612x612&w=0&k=20&c=uThRxwhxPjlGm27Wpx1KSd2MCzByfBis3-j25_9onqs=" alt="" class="img-fluid opacity-50 ratio ratio-16*9" >
        </div>
        <div class="carousel-caption">
            <p class="fs-3 fst-italic">No matter what style you choose to personify, remember to be yourself.</p>
        </div>
    </div>
    <div class="carousel-item ">
        <div class="">
            <img src="https://images.pexels.com/photos/7679438/pexels-photo-7679438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid opacity-50 ratio ratio-16*9">

        </div>

        <div class="carousel-caption">
            <p class="fs-3 fst-italic">Dressing with pleasure is an art form</p>
        </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#carousel" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
    <button class="carousel-control-next" data-bs-target="#carousel" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>

   </div>
</div>

 <div class="container-fluid">
    <app-card></app-card>
    <app-fashionwear></app-fashionwear>
    <app-bestsellers></app-bestsellers>
 </div>


