.row{
   .card_content{
    position: relative;

    &_icon{
        position: absolute;
        top: 70%;
        right: 30%;
    }

    &:hover{
        cursor: pointer;
        // &_icon a:hov{
        //     cursor: pointer;
        //     background-color: #D99C2B;
        // }
    }
   }
}

@media  (max-width:600px) {
    .filter{
        display: none;
    }
}