<div class="container mt-5">
    <div class="d-flex justify-content-between p-5">
        <div>
            <ul class="nav-item text-muted fw-bold lh-lg">
                <p class="fw-bold fs-5 text-dark">Information</p>
                <li class="nav-link">Shipping Info</li>
                <li class="nav-link">Return Policy</li>
                <li class="nav-link">Ordering Online</li>
                <li class="nav-link">Offer Details</li>
            </ul>
        </div>

        <div>
            <ul class="nav-item text-muted fw-bold lh-lg">
                <p class="fw-bold fs-5 text-dark">Support</p> 
                <li class="nav-link text-small">Return Policy</li>
                <li class="nav-link">Return Policy</li>
                <li class="nav-link">Ordering Online</li>
                <li class="nav-link">Faqs</li>
            </ul>
        </div>
    </div>
</div>